# Environment
.env
.env.local
*.local

# Data (don't commit raw/processed data)
data/bronze/*
data/silver/*
data/gold/*
data/checkpoints/*
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
!data/checkpoints/.gitkeep

# DuckDB files
*.duckdb
*.duckdb.wal

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
.pytest_cache/
.mypy_cache/

# dbt
dbt/logs/
dbt/target/
dbt/dbt_packages/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

#miscellaneous
tmp/